{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<h1 class="text-center mt-5 pt-4">Главная</h1>
<p class="text-center">Вы находитесь на сайте, предназначенном для продажи товаров.</p>
<div class="text-left mb-4">
        <a href="{% url 'catalog:product_create' %}" class="btn btn-primary">
            Добавить товар
        </a>
    </div>
<div class="row justify-content-center">
    {% for product in object_list %}

        {% include 'catalog/product_card.html' %}

    {% endfor %}

</div>

{% endblock %}